*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

ul{
   list-style: none; 
}

/* Main */

/* Header */

/* Nav */
.main-nav{
    background-color: #555b6e;
}
/* Menu */
.main-menu li{
    float: left;
}

.main-menu li a{
    display: block;
    padding: 5px 10px;
    color: #faf9f9;
    transition: 0.5s;
}

.main-menu li a:hover{
    background-color: #bee3db;
    color: #ffd6ba;
}

.clearFix:after{
    display: block;
    content: '';
    clear: both;
}