*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fec89a24;
}

a{
    text-decoration: none;
}

ul{
   list-style: none; 
}

/* Main */

/* Header */

/* Nav */
.main-nav{
    background-color: #555b6e;
}
/* Menu */
.main-menu li{
    float: left;
}

.main-menu li a{
    display: block;
    padding: 5px 10px;
    color: #faf9f9;
    transition: 0.5s;
}

.main-menu li a:hover{
    background-color: #bee3db;
    color: #ffd6ba;
}

.clearFix:after{
    display: block;
    content: '';
    clear: both;
}

/* Header-Slide */
.header-slide{
    background-image: url(../images/hotel2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 90%;
    margin: 0 auto;
}

.slide-content{
    text-align: center;
    padding: 140px;
    line-height: 2;
}

.slide-content h1{
    color: #555b6e;
}

.slide-content p{
    font-size: 18px;
    font-weight: 900;
}

.r-hotel{
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
    background-color: #bee3dba6;
    border-radius: 10px;  
    margin-top: 40px;
    transition: 0.5s;
}

.r-hotel:hover{
    background-color: #555b6e;
    color: #fff;
}

/* About penl */

.about-panel{
    height: 300px;
    width: 90%;
    margin: 5px auto;
}

.about-left , .about-right{
    width: 50%;
    height: 100%;
}

.about-left{
    float: left;
    text-align: center;
    background-color: #bee3db;
    padding-top: 80px;
    line-height: 2;
}
.about-right{
    float: right;
}
.about-right{
    background: url('../images/about-hotel.png') no-repeat center center/cover;
}

/* services */

.services{
    width: 90%;
    margin: 0px auto;
    height: 200px;
}

.box{
    width: 33.3%;
    float : left;
    height: 100%;
    padding: 50px 30px 50px 30px;
    text-align: center;
}

.box p{
    text-align: justify;
    line-height: 1.5;
    font-size : 13px;
}

.bg-green{
    background-color: #b5e48c;
}

.bg-yellow{
    background-color: #d9ed92;
}

/* footer */

.main-footer{
    background-color: #555b6e;
    width: 100%;
    text-align: center;
}

/* ******************************About Page********************************* */

.about-us{
    width: 90%;
    margin: auto;
    height: 300px;
    padding: 20px;
}

.about-us-left{
    width: 50%;
    float: left;
    padding: 10px;
    line-height: 1.5;
}

.about-us-left p{
    text-align: justify;
   
}

.about-us-right{
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
}

.about-us-right img{
    width: 50%;
    height: inherit;
    border-radius: 30px;
}

/* Comment */

.comment{
    height: 400px;
    background-image: url('../images/Artshotel.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 90%;
    margin: auto;
    padding: 20px;
   
}

.comment-one{
    height: 150px;
    width: 80%;
    border-radius: 20px;
    background-color: #d9ed92a1;
    margin: 10px auto;
    padding-top: 10px;
}

.comment-img{
    width: 10%;
    margin-top: 12px;
    border-radius: 20px;
    padding: 5px;
    float: left;
}

.comment-text{
    width: 90%;
    margin-top: 12px;
    float: right;
    padding: 20px;
    line-height: 1.5;
   
}

