*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

ul{
   list-style: none; 
}

/* Main */

/* Header */

/* Nav */
.main-nav{
    background-color: #555b6e;
}
/* Menu */
.main-menu li{
    float: left;
}

.main-menu li a{
    display: block;
    padding: 5px 10px;
    color: #faf9f9;
    transition: 0.5s;
}

.main-menu li a:hover{
    background-color: #bee3db;
    color: #ffd6ba;
}

.clearFix:after{
    display: block;
    content: '';
    clear: both;
}

/* Header-Slide */
.header-slide{
    background-image: url(../images/hotel2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 90%;
    margin: 0 auto;
}

.slide-content{
    text-align: center;
    padding: 140px;
    line-height: 2;
}

.slide-content h1{
    color: #555b6e;
}

.slide-content p{
    font-size: 18px;
    font-weight: 900;
}

.r-hotel{
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
    background-color: #bee3dba6;
    border-radius: 10px;  
    margin-top: 40px;
    transition: 0.5s;
}

.r-hotel:hover{
    background-color: #555b6e;
    color: #fff;
}